<li class="flex items-center justify-between gap-x-6 py-5">
  <div class="min-w-0">
    <div class="flex items-start gap-x-3">
      <p class="text-sm font-semibold leading-6 text-gray-900"><%= link_to campaign %></p>
    </div>
    <div class="mt-1 flex items-center gap-x-2 text-xs leading-5 text-gray-500">
      <p class="truncate">Created by <%= campaign.owner %></p>
      <!--      <svg viewBox="0 0 2 2" class="h-0.5 w-0.5 fill-current">-->
      <!--        <circle cx="1" cy="1" r="1" />-->
      <!--      </svg>-->
    </div>
  </div>
  <div class="flex flex-none items-center gap-x-4">

    <%= link_to campaign, class: "btn secondary md" do %>
      View campaign<span class="sr-only">, <%= campaign.title %></span>
    <% end %>
    <%= render "shared/dot_dropdown" do %>
      <%= link_to edit_campaign_path(campaign), role: 'menuitem', tabindex: '-1', id: 'options-menu-0-item-0' do %>
        Edit<span class="sr-only">, <%= campaign.title %></span>
      <% end %>
    <% end %>
  </div>
</li>
